* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Tron';
    src: url(tron/tron.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Tron', sans-serif;
    color: #fff;
}

main {
    width: 95vw;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

aside {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 20%;
    border: 1px solid rgba(45, 205, 229, .5);
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 2vw;
}

.discs, .counter{
    font-size: 2em;
    font-family: 'Rationale', sans-serif;
    font-weight: bold;
    margin: 10%;
}

.discs {
    margin-top: 15%;
}

.leftAside {
    left: 3%;
}
.rightAside {
    right: 3%;
}

.glowBlue {
    box-shadow: 0 0 20px #fff, 0 0 40px #2dcde5, 0 0 60px #2dcde5, 0 0 80px #2dcde5;
}

.glowOrange {
    box-shadow: 0 0 20px #fff, 0 0 40px #FF9900, 0 0 60px #FF9900, 0 0 80px #FF9900;
}



#gameboard {
    width: 42vw;
    height: 42vw;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    width: 100%;
    height: 11.5%;
}

.cell {
    width: 11.5%;
    height: 100%;
    border: 1px solid rgba(45, 205, 229, .5);
    display: inline-block;
    float: left;
    font-size: 2.5vw;
    text-align: center;
    margin: .5%;
    border-radius: 5px;
    user-select: none;
}

h2 {
    font-size: 3em;
}


/* ---------------- neon effect ---------------- */

.chip {
    width: 100%;
    height: 100%;
    cursor: default;
}

.hideChip {
    display:none;
}

.chipGhostOutline {
    display: inline-block;
    opacity: 0.1;
}

.blue {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2dcde5, 0 0 70px #2dcde5, 0 0 80px #2dcde5, 0 0 100px #2dcde5, 0 0 150px #2dcde5;
}

.orange {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
}

/* ------------------ intro modal ----------------------*/

.modalContainer {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    color: white;
    transition: 1s;
    /*display: none;*/
}

.modalHeader {
    margin-top: 5vw;
    font-size: 4vw;
    text-align: center;
}

.playerBox {
    transform: translate(-50%, -50%);
    width: 20%;
    height: 30%;
    text-align: center;
    position: fixed;
    border: 1px solid #2dcde5;
    border-radius: 5px;
}

.playerBox1 a span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.playerBox1 a span:hover{
    box-shadow: 0 0 20px #fff, 0 0 40px #2dcde5, 0 0 60px #2dcde5, 0 0 80px #2dcde5;
}

.playerBox1Clicked{
    box-shadow: 0 0 20px #fff, 0 0 40px #2dcde5, 0 0 60px #2dcde5, 0 0 80px #2dcde5;
}

.playerBox2 a span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.playerBox2 a span:hover {
    box-shadow: 0 0 20px #fff, 0 0 40px #FF9900, 0 0 60px #FF9900, 0 0 80px #FF9900;
}

.playerBox2Clicked{
    box-shadow: 0 0 20px #fff, 0 0 40px #FF9900, 0 0 60px #FF9900, 0 0 80px #FF9900;
}

.playerBox1 {
    top: 50%;
    left: 12%;
    background-image: url('images/tronAvitar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playerBox2 {
    top: 50%;
    left: 88%;
    background-image: url('images/cluAvitar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playerName {
    position: relative;
    bottom: 10%;
    font-size: 4vw;
    top: 85%;
}

.directions {
    width: 50vw;
    float: left;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #2dcde5;
    font-family: 'Rationale', sans-serif;
    padding: 2%;
    border-radius: 5px;
}

.directionsList > li {
    font-size: 3vh;
    padding-bottom: 4%;
    list-style: none;
}

.directions > h2 {
    text-align: center;
    margin: 0;
}

.playButton {
    background-color: white;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    position: absolute;
    top: 88vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    font-family:'Tron', sans-serif;
    font-size: 1em;
}

.playButton:hover {
    opacity: .5;
    cursor: pointer;
}

.counter1, .counter2 {
    font-family: 'Rationale', sans-serif;
    font-size: 3vw;
}


