* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Tron';
    src: url(tron/tron.ttf);
    font-style: bold;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Tron', sans-serif;
    color: #fff;
}

main {
    width: 140vh;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 80%;
    border: 1px solid white;
}

.leftAside {
    left: 7%;
}

.rightAside {
    left: 93%;
}

#gameboard {
    width: 42vw;
    height: 42vw;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    width: 100%;
    height: 12.5%;
}

.cell {
    width: 12.5%;
    height: 100%;
    border: 1px solid white;
    display: inline-block;
    float: left;
    font-size: 2.5vw;
    text-align: center;
}
h1 {
    text-align: center;
    color: white;
    font-size: 2vw;
}

/* ---------------- neon effect ---------------- */

.chip {
    width: 100%;
    height: 100%;
}

.blue {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}

.orange {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
}

/*modal*/

.modalContainer {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    color: black;
    display: none;
}

.modalHeader {
    /*font-family: ;*/
    font-size: 2em;
    text-align: center;
}

.playerBox {
    left: 15%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 30%;
    text-align: center;
    position: fixed;
    border: 1px solid black;
}

.playerBox1 {
    top: 30%;
}

.playerBox2 {
    top: 70%;
}

.directions {
    width: 55vw;
    height: 42vw;
    float: left;
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.directionList {
    font-size: 3em;
}

.directions > h2 {
    text-align: center;
}

.playButton {
    background-color: white;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    position: absolute;
    top: 85%;
    left: 65%;
    transform: translate(-50%, -50%);
}



